<?xml version="1.0"?>
<ruleset name="WHMCS CRM Connector Standard">
    <description>Code style rules for WHMCS CRM Connector.</description>

    <file>modules/addons/crmconnector</file>

    <exclude-pattern>*/vendor/*</exclude-pattern>

    <rule ref="PSR12" />

    <exclude name="PSR1.Files.SideEffects.FoundWithSymbols" />
    <exclude name="Generic.Files.LineLength.TooLong" />
    <exclude name="Generic.Files.LineLength.MaxExceeded" />
</ruleset>
